DB_CLIENT_ID=your_db_client_id_here
DB_CLIENT_SECRET=your_db_client_secret_here
TIMEZONE=Europe/Berlin
DATABASE_PATH=data/train_punctuality.db

DB_STATION_ENDPOINT=https://apis.deutschebahn.com/db-api-marketplace/apis/station-data/v2
DB_TIMETABLES_ENDPOINT=https://apis.deutschebahn.com/db-api-marketplace/apis/timetables/v1

MORNING_SOURCE=Freiburg(Breisgau) Hbf
MORNING_SOURCE_EVA=8000107
MORNING_TARGET=Offenburg
MORNING_START=06:00
MORNING_END=08:00

AFTERNOON_SOURCE=Offenburg
AFTERNOON_SOURCE_EVA=8000290
AFTERNOON_TARGET=Freiburg(Breisgau) Hbf
AFTERNOON_START=15:30
AFTERNOON_END=17:30

HERE_API_KEY=your_here_api_key_here
HERE_ROUTING_ENDPOINT=https://router.hereapi.com/v8/routes
